<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BaseOperator</title>
</head>
<body>
    <h1>Um Operador de Bases Númericas Básico</h1>
    <form action="/converter_numero" method="POST">
        Numero: <input type="text" name="numero" placeholder="ex.256">
        Base Entrada: <input type="text" name="base_entrada" placeholder="ex.8">
        Base Saida: <input type="text" name="base_saida" placeholder="ex.10">
        <button>Converter</button>
    </form>

</body>
</html>