<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BaseOperator</title>
</head>
<body>
    <h1>Um Operador de Bases Númericas Básico</h1>
    
    <form>    
        Base Entrada: <input id='base_entrada' type="text" placeholder="ex.8"> &nbsp;
        Numero: <input id='numero' type="text" placeholder="ex.256"><br><br>
        Base Saida: <input id='base_saida-1' type="text">&nbsp;
        Resultado: <input id='resultado-1' type="text" readonly><br>
        
        <div id="extras"></div><br>
        
        <button id="add_saida" type="button">Add</button>
        <button id="enviar" type="button">Converter</button>
        <button type="reset">Resetar</button>
    </form>
    
    <a href="/">Inicio</a>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../static/js/conversor.js"></script>
</html>