<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BaseOperator</title>
</head>
<body>
    <h1>Um Operador de Bases Númericas Básico</h1>
    <form>
        Numero1: <input id="num1" type="text"><br>
        Operacao: 
        <select id="operador" required>
            <option value="+">+ Adição</option>
            <option value="-">- Subtração</option>
            <option value="*">* Multiplicação</option>
            <option value="/">/ Divisão</option>
            <option value="**">** Potenciação</option>
            <option value="//">// Divisão Inteira</option>
            <option value="%">% Resto da Divisão</option>
        </select><br>
        Numero2: <input id="num2" type="text"><br>
        Base Entrada: <input id="base" type="text"><br>
        Resultado: <input id="resultado" type="text" readonly><br>
        <button id="enviar" type="button">Calcular</button>
        <button type="reset">Resetar</button>
    </form>
    <a href="/">Inicio</a>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../static/js/operador.js"></script>
</html>